body {
    background-color: #EFEAE2;
}

.brand {
    font-family: Caudex, serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #362524;
}

.nav-margin {
    margin-top: 60px;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #614F44;
}

.main-bg {
    background-color: #EFEAE2;
}

/* Unifies height of story pics in index */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.category-box {
    position: absolute;
    bottom: 3%;
    min-width: 30%;
    right: 0;
    background-color: #631b03;
    text-align: center;
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    background-color: #614F44;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #614F44;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

.story-link {
    text-decoration: none;
    color: #614F44;
}

.story-link:hover,
.page-link {
    color: #766A62;
}

.story-name {
    margin-top: 20%;
    margin-left: 5%;
}

.story-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #631b03;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #631b03;
}

.link {
    color: #631b03;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #614F44;
    text-decoration: underline;
}

.btn-like {
    color: #766A62;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #766A62;
    background: transparent;
    border: none;
}