{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- This page lets an admin update a category -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <h2>Update a Category</h2>
                <form method="POST" action="{% url 'category_edit' pk=category.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'category_list' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Save</button>
                    </div>
                </form>
            </div> 
        </div> 
    </div>            
</div>
{% endblock %}